@model IEnumerable<Welo.WebApp.Models.MovieModel>

@{
    ViewBag.Title = "Listar Filmes";
}

<h2>Filmes</h2>

<p>
    @Html.ActionLink("Adicionar novo filme", "Create")
</p>
<br />
<div class="col-lg-12">
    @Html.Label("Filtrar: ")
</div>

<div>
    <div class="col-lg-2">
        @Html.TextBox("FiltroNome", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</div>
<div class="row">
    <Label>&nbsp;</Label>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
